{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

{% for produit in produits %}
<h2>{{ produit.title }}</h2>  
<p> {{ produit.description }} </p>
<br>

{% endfor %}
{% endblock %}
